<div class="modal-header" ng-show="caption">
	<h3 class="modal-title">{{caption | translate}}</h3>
</div>
<div class="modal-body">
	<div class="alert" ng-class="{'alert-danger': type === 'danger', 'alert-info': type === 'info'}">
		<p ng-if="!messageTranslate">{{message}}</p>
		<p translate="{{messageTranslate}}" translate-values="params" ng-if="messageTranslate"></p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>