<div class="row">
	<div class="col-md-offset-1 col-md-4 " ng-init="findOne()">
		<h2>{{'VIEW_HEADER_PROFILE' | translate}}</h2>
		<hr>
		<bmt-alert-notification alertInfo="{{alertInfo}}" alertError="{{alertError}}"></bmt-alert-notification>
		<form name="profileForm" class="form-horizontal" novalidate>
			<div class="form-group">
				<label for="inputFirstName" class="control-label col-xs-4">{{'LABEL_USER_FIRST_NAME' | translate}}</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" id="inputFirstName" placeholder="{{'LABEL_USER_FIRST_NAME' | translate}}" ng-model="user.firstName" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputLastName" class="control-label col-xs-4">{{'LABEL_USER_LAST_NAME' | translate}}</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" id="inputLastName" placeholder="{{'LABEL_USER_LAST_NAME' | translate}}" ng-model="user.lastName" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputUsername" class="control-label col-xs-4">{{'LABEL_USER_USERNAME' | translate}}</label>
				<div class="col-xs-8">
					<p class="form-control-static" ng-hide="usernameEdit">
						<span ng-bind="user.username"></span>
						<a href ng-click="usernameEdit = true">(change)</a>
					</p>
					<input type="text" class="form-control" id="inputUsername" placeholder="{{'LABEL_USER_USERNAME' | translate}}" ng-show="usernameEdit" ng-model="user.username" required>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-4">{{'LABEL_USER_EMAIL' | translate}}</label>
				<div class="col-xs-8">
					<p class="form-control-static" ng-hide="emailEdit">
						<span ng-bind="user.email"></span>
						<a href ng-click="emailEdit = true">({{'LABEL_ACTION_CHANGE' | translate}})</a>
					</p>
					<input type="email" class="form-control" id="inputEmail" placeholder="{{'LABEL_USER_EMAIL' | translate}}" ng-show="emailEdit" ng-model="user.email" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-4 col-xs-8">
					<button type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid" ng-click="update()">{{'LABEL_ACTION_UPDATE_PROFILE' | translate}}</button>
				</div>
			</div>
		</form>
	</div>
</div>
