
/* Global Styles */

html, body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
}

.footer {
    border-top: #000 solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    padding-top: 1em;
    background-color: #222;
    color: white;
    padding-bottom: 0.5em;
}

/* Toggle Styles */

#wrapper {
    min-height: 100%;
    position: relative;
    padding: 50px 0 40px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    position: fixed;
    top: 50px;
    bottom: 0;
    z-index: 1000;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 225px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -225px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #sidebar-wrapper {
        width: 225px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}

#wrapper.sidebar {
    padding-left: 0;
}

/* Top Navigation */
.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-toggle.pull-right{
    margin-right: 5px;
}

.navbar-toggle.pull-left{
    margin-left: 5px;
    margin-right: 5px;
}

/*sidebar-toggle button*/
.navbar-toggle i{
    margin-top: -2px;
    color:#fff;
    display: block;
    width: 22px;
    height: 14px;
    border-radius: 1px;
}

@media(min-width: 768px) {
    .top-nav {
        float: left;
        margin: 0;
    }
}

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    /*float: left;*/
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 225px;
    margin: 0;
    padding: 0 0 100px;
}

.sidebar-nav>li>a {
    width: 225px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
    outline: none;
    background-color: #000 !important;
}

.sidebar-nav>li>ul {
    padding: 0;
}

.sidebar-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.sidebar-nav>li>ul>li>a:hover {
    color: #fff;
}